* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid red;
}

.form {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 10px;
  font-size: 1.4rem;
  background: #f8fafc;
}

input {
  width: 100%;
  height: 30px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.result-section {
  padding: 20px;
  border-radius: 10px;
  background: white;
}

button {
  height: 40px;
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-5px);
}

button:active {
  transform: scale(0.95);
}

#Calculate-btn {
  margin-top: 10px;
  width: 200px;
  background: #22c55e;
  color: white;
}

#reset {
  background: #ef4444;
  color: white;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  min-height: 16px;
  /* border: 2px solid red; */
}

.normalweight {
  color: green;
}

.overweight {
  color: orange;
}

.obese {
  color: red;
}
.underweight {
  color: orange;
}

#clrhistory {
  margin-left: 40px;
  color: white;
  background-color: #491414;
  padding: 10px;
  width: 200px;
}

.first {
  display: flex;
  gap: 30px;
}

#darkbtn {
  width: 150px;
  background-color: #2563eb;
  color: white;
}

body.dark {
  background-color: #121212;
  color: white;
}

body.dark .form {
  width: 350px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 20px;
}

body.dark .result-section {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  border: 1px solid #333;
}

body.dark input {
  background-color: #2a2a2a;
  color: white;
  box-shadow: none;
  border: 1px solid #444;
  padding: 20px;
}

body.dark input::placeholder {
  color: #aaa;
}

body.dark .history {
  background-color: #1e1e1e;
  color: white;
}

body.dark #darkbtn {
  background-color: #facc15;
  color: black;
}

.container {
  border: none;
}
